{
  "openapi": "3.0.1",
  "info": {
    "title": "defaultTitle",
    "description": "defaultDescription",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://herbalife-oegdevws.hrbl.com"
    }
  ],
  "paths": {
    "/Order/HLOnlineOrdering/ts3/GetDistributorVolumePoints": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body"
              },
              "examples": {
                "0": {
                  "value": " {\r\n         \"ServiceConsumer\": \"AAKIOSK\",\r\n         \"DistributorId\": \"STAFF\",\r\n         \"FromMonth\": \"2020/01\",\r\n         \"ToMonth\": \"2020/07\",\r\n         \"IncludeORgVolumes\": \"Y\"\r\n}\r\n"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "GetDistributorVolumePoints"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/GetDSPostamatDetails": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_1"
              },
              "examples": {
                "0": {
                  "value": "{\r\n         \"Country\": \"RU\",\r\n         \"PostamatType\": \"Pick Point\",\r\n         \"City\": {\r\n            \"@nil\": \"true\"\r\n         },\r\n         \"Region\": {\r\n            \"@nil\": \"true\"\r\n         },\r\n         \"ZipCode\": {\r\n            \"@nil\": \"true\"\r\n         }\r\n      }"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "GetDSPostamatDetails"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/GetSkuAvailability": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_2"
              },
              "examples": {
                "0": {
                  "value": "{\r\n         \"ServiceConsumer\": \"AAKIOSK\",\r\n         \"SkuInquiryDetails\": [\r\n            {\r\n               \"Sku\": {\r\n                  \"SkuName\": \"0006\",\r\n                  \"Quantity\": \"1\",\r\n                  \"WarehouseCode\": \"AZ\"\r\n               }\r\n            },\r\n            {\r\n               \"Sku\": {\r\n                  \"SkuName\": \"N133\",\r\n                  \"Quantity\": \"1\",\r\n                  \"WarehouseCode\": \"AZ\"\r\n               }\r\n            }\r\n         ]\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "GetSkuAvailability"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/GetShippingWhseAndFreightCodes": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_3"
              },
              "examples": {
                "0": {
                  "value": "{\r\n         \"ServiceConsumer\": \"MYHL\",\r\n         \"ExpressDeliveryFlag\": \"Y\",\r\n         \"PostalCode\": \"618400\"\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "GetShippingWhseAndFreightCodes"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/SubmitOrder": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_4"
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "SubmitOrder"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/HPSPaymentGateway": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_5"
              },
              "examples": {
                "0": {
                  "value": "{\r\n         \"ServiceConsumer\": \"AAKIOSK\",\r\n         \"PaymentRequest\": {\r\n            \"Country\": \"AZ\",\r\n            \"OrderNumber\": \"IAK1138803\",\r\n            \"ClientRefNum\": \"AZSEOAS1\",\r\n            \"Operator\": \"Order Taker\",\r\n            \"DistributorId\": \"AZ18360193\",\r\n            \"PayCode\": \"VI\",\r\n            \"PaymentType\": \"SALE\",\r\n            \"Currency\": \"AZN\",\r\n            \"Amount\": \"110.37\",\r\n            \"CardHolderName\": \"ADILFARZ RAMAZANOV\",\r\n            \"CreditCardNum\": \"6D28712432325710\",\r\n            \"ExpiryDate\": \"2020-11\",\r\n            \"CVV2\": \"97\",\r\n            \"Transactionclass\": null,\r\n            \"PayeeID\": null,\r\n            \"Address1\": \"APARTMENT 35\",\r\n            \"City\": \"BAKU CITY\",\r\n            \"PostalCode\": \"01078\",\r\n            \"ProcessingLocation\": \"IA\",\r\n            \"ApplicationSource\": \"ORDERPAY\",\r\n            \"OrderType\": \"RSO\"\r\n         }\r\n      }"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "HPSPaymentGateway"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/DsCashLimit": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_6"
              },
              "examples": {
                "0": {
                  "value": "{\r\n  \"ServiceConsumer\" : \"AAKIOSK\",\r\n  \"DistributorId\" : \"AZ18360193\",\r\n  \"ShipToCountry\" : \"RU\",\r\n  \"PaymentMethod\" : \"CASH\"\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "DsCashLimit"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/api/validate": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_7"
              },
              "examples": {
                "0": {
                  "value": "{\r\n  \"X-HLAPPID\" : \"73\",\r\n  \"AccessToken\" : \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJwcmltYXJ5c2lkIjoiNjMyNDcyNiIsInByb2ZpbGVJZCI6IjYzMjQ3MjYiLCJhcHBJZCI6IjczIiwiYXV0aFRva2VuIjoiRjcwMjQ1NEZDOUNCRDkzQUY4RDI5MTFEMTk4REJDNDU0M0I4QjcxMzA2REFDNkMxREVDREI0QjNEOTJDQTA4OEIwNEU1OTlFOTFCQ0ExQjAzNkMzRUU4NUIwMTdCQzE4NzRCQTY5RTBGOENCNTgyQUQ5NEY3NzMyMDZDMkE2QjkiLCJhcHBVcmkiOiJodHRwczovL3d3dy5teWhlcmJhbGlmZS5jb20iLCJzdWIiOiJoZXJiMTAxMDU4QHRlc3RoZXJiYWxpZmUuY29tIiwiaWF0IjoxNTkzNDM4MTA4LCJ1bmlxdWVfbmFtZSI6IkhFUkIxMDEwNTgiLCJpc3MiOiJodHRwczovL3p1czJxMS1hY2NvdW50cy5teWhlcmJhbGlmZS5jb20vcHJvZmlsZS8iLCJhdWQiOiJodHRwczovL3d3dy5teWhlcmJhbGlmZS5jb20iLCJleHAiOjE1OTM0Mzg0MDcsIm5iZiI6MTU5MzQzNzk4N30.Hy0yp5Sm8KsW_Hdq4rDdPcArNjM7YAA8L0ZuJrqExH8\"\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "validate"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/GetDistributorDiscount": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_8"
              },
              "examples": {
                "0": {
                  "value": "{\r\n         \"ServiceConsumer\": \"AAKIOSK\",\r\n         \"DistributorId\": \"AZ18360193\",\r\n         \"OrderMonth\": \"2020/06\",\r\n         \"VolumePoints\": {\r\n            \"@nil\": \"true\"\r\n         },\r\n         \"ShipToCountry\": \"AZ\",\r\n         \"OrderPurpose\": \"PC\",\r\n         \"IDType\": {\r\n            \"@nil\": \"true\"\r\n         }\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "GetDistributorDiscount"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/UpdateDsAddressContacts": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_9"
              },
              "examples": {
                "0": {
                  "value": "{\r\n         \"DistributorId\": \"AZ18360193\",\r\n         \"Address\": {\r\n            \"AddressType\": \"SHIP_TO\",\r\n            \"Building\": null,\r\n            \"AddressLine1\": \"XAGMAZ TURAN KUG EV\",\r\n            \"AddressLine2\": null,\r\n            \"AddressLine3\": null,\r\n            \"AddressLine4\": null,\r\n            \"suburb\": null,\r\n            \"geo_code\": null,\r\n            \"City\": \"XACMAZ\",\r\n            \"State\": null,\r\n            \"Province\": null,\r\n            \"County\": null,\r\n            \"Country\": \"AZ\",\r\n            \"ZipCode\": \"AZ 2700\",\r\n            \"ZipPlusFour\": null,\r\n            \"CareOfName\": null,\r\n            \"LastUpdateDate\": null,\r\n            \"SiteId\": null,\r\n            \"IsPrimary\": null,\r\n            \"IsActive\": null,\r\n            \"FedexLocation\": null,\r\n            \"Reason\": null,\r\n            \"Attribute1\": null,\r\n            \"Attribute2\": null,\r\n            \"Attribute3\": null,\r\n            \"Attribute4\": null,\r\n            \"Attribute5\": null,\r\n            \"Attribute6\": null,\r\n            \"Attribute7\": null,\r\n            \"Attribute8\": null,\r\n            \"Attribute9\": null,\r\n            \"Attribute10\": null\r\n         },\r\n         \"contact\": {\r\n            \"Type\": \"PHONE\",\r\n            \"SubType\": \"DAY\",\r\n            \"Value\": \"55-1111119\",\r\n            \"OldValue\": \"55-1111111\",\r\n            \"IsPrimary\": \"Y\",\r\n            \"IsActive\": \"A\",\r\n            \"LastUpdateDate\": null,\r\n            \"Attribute1\": null,\r\n            \"Attribute2\": null,\r\n            \"Attribute3\": null,\r\n            \"Attribute4\": null,\r\n            \"Attribute5\": null\r\n         },\r\n         \"ServiceConsumer\": \"AAKOISK\"\r\n      }"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "UpdateDsAddressContacts"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/GetProductInventory": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_10"
              },
              "examples": {
                "0": {
                  "value": "{\r\n         \"CountryCode\": \"AZ\",\r\n         \"OrderType\": \"RSO\"\r\n      }"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "GetProductInventory"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/GetProductCatalog": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_11"
              },
              "examples": {
                "0": {
                  "value": " {\r\n         \"CountryCode\": \"AZ\",\r\n         \"OrderType\": \"RSO\"\r\n }"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "GetProductCatalog"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/GetPriceDetails": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_12"
              },
              "examples": {
                "0": {
                  "value": "{\r\n         \"ServiceConsumer\": \"AAKIOSK\",\r\n         \"OrderPriceHeader\": {\r\n            \"ProcessingLocation\": \"IA\",\r\n            \"ExternalOrderNumber\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"OrderSource\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"Warehouse\": \"AZ\",\r\n            \"DistributorId\": \"AZ18360193\",\r\n            \"FreightCode\": \"PU\",\r\n            \"SalesChannelCode\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"OrderType\": \"RSO\",\r\n            \"OrderCategory\": \"RSO\",\r\n            \"OrderTypeId\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"OrderMonth\": \"2006\",\r\n            \"PriceDate\": \"2020-06-04T10:17:23.6878968+02:00\",\r\n            \"ShipFromOrgId\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"UseSlidingScale\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"IsFreightCodeOverride\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"IsHAPOrder\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"InvoicetoCode\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"OrderDate\": \"2020-06-04T10:17:23.6878968+02:00\",\r\n            \"PriceListHeaderId\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"CurrencyCode\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"OrderSubType\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"ManualFreight\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"QSId\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"SPId\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"AssigmentType\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"CustomerName\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"Address1\": \"APARTMENT 35\",\r\n            \"Address2\": \"HOME 118\",\r\n            \"Address3\": \"JALIL MAMMDGULUZADA STREET,YASAMAL DISTRICT,\",\r\n            \"Address4\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"City\": \"BAKU CITY\",\r\n            \"State\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"County\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"Province\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"PostalCode\": \"01078\",\r\n            \"CountryCode\": \"AZ\",\r\n            \"BadAddressFlag\": {\r\n               \"@nil\": \"true\"\r\n            },\r\n            \"ContributorClass\": {\r\n               \"@nil\": \"true\"\r\n            }\r\n         },\r\n         \"OrderPriceLines\": [\r\n            {\r\n               \"LineNumber\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"ExternalOrderNumber\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"ProcessingLocation\": \"IA\",\r\n               \"SellingSKU\": \"0006\",\r\n               \"ProductType\": \"P\",\r\n               \"UOM\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"OrderedQty\": \"2\",\r\n               \"OrderedQtyUOM\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"PriceDate\": \"2020-06-04T06:46:35.3504651+02:00\",\r\n               \"InventoryItemId\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"PriceListHeaderId\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"CurrencyCode\": {\r\n                  \"@nil\": \"true\"\r\n               }\r\n            },\r\n            {\r\n               \"LineNumber\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"ExternalOrderNumber\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"ProcessingLocation\": \"IA\",\r\n               \"SellingSKU\": \"0141\",\r\n               \"ProductType\": \"P\",\r\n               \"UOM\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"OrderedQty\": \"1\",\r\n               \"OrderedQtyUOM\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"PriceDate\": \"2020-06-04T06:46:35.3504651+02:00\",\r\n               \"InventoryItemId\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"PriceListHeaderId\": {\r\n                  \"@nil\": \"true\"\r\n               },\r\n               \"CurrencyCode\": {\r\n                  \"@nil\": \"true\"\r\n               }\r\n            }\r\n         ]\r\n      }"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "GetPriceDetails"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/DSFOPPurchasingLimits": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_13"
              },
              "examples": {
                "0": {
                  "value": "{\r\n         \"ServiceConsumer\": \"AAKIOSK\",\r\n         \"DistributorID\": \"AZ18360193\",\r\n         \"CountryCode\": \"AZ\"\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "DSFOPPurchasingLimits"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/GetOrderDualMonthStatus": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_14"
              },
              "examples": {
                "0": {
                  "value": "{\r\n         \"ShipToCountry\": \"AZ\"\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "GetOrderDualMonthStatus"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    },
    "/Order/HLOnlineOrdering/ts3/GetDistributorProfile": {
      "post": {
        "description": "Auto generated using Swagger Inspector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_15"
              },
              "examples": {
                "0": {
                  "value": "{\r\n  \"ServiceConsumer\" : \"AAKIOSK\",\r\n  \"DistributorId\" : \"AZ18360193\"\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "servers": [
          {
            "url": "https://herbalife-oegdevws.hrbl.com"
          }
        ],
        "operationId": "GetDistributorProfile"
      },
      "servers": [
        {
          "url": "https://herbalife-oegdevws.hrbl.com"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "OrderHLOnlineOrderingts3SubmitOrder_OrderLine": {
        "type": "object",
        "properties": {
          "LinesTaxBreakup": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3SubmitOrder_LinesTaxBreakup"
          },
          "StockingSKU": {},
          "ProductItemId": {},
          "PickLocator": {},
          "LogisticOtherCharge": {},
          "UnitEarnBase": {},
          "StatusFlag": {},
          "LineStatus": {},
          "BackOrderedFlag": {},
          "LocalSkuDescription": {},
          "TaxAmount": {},
          "TotalDiscountAmount": {},
          "LineAmount": {
            "type": "string"
          },
          "VolumePoints": {},
          "ProductType": {
            "type": "string"
          },
          "CalcWeight": {},
          "CustomerDiscount": {},
          "TaxBase": {},
          "NetPrice": {},
          "PHTaxAmount": {},
          "ChrAttribute10": {},
          "TotalRetailPrice": {
            "type": "string"
          },
          "DateAttribute5": {},
          "DateAttribute4": {},
          "DateAttribute3": {},
          "DateAttribute2": {},
          "SkuDescription": {},
          "ChrAttribute8": {},
          "DateAttribute1": {},
          "ChrAttribute7": {},
          "ExternalOrderNumber": {},
          "ChrAttribute9": {},
          "ChrAttribute4": {},
          "ChrAttribute3": {},
          "EarnBase": {
            "type": "string"
          },
          "ChrAttribute6": {},
          "ChrAttribute5": {},
          "PHAmount": {},
          "LineNumber": {},
          "TotalDiscountedPrice": {
            "type": "string"
          },
          "ChrAttribute2": {},
          "ChrAttribute1": {},
          "FreightTaxAmount": {},
          "UnitVolume": {
            "type": "string"
          },
          "TaxRate": {},
          "NumAttribute2": {},
          "NumAttribute3": {},
          "NumAttribute4": {},
          "NumAttribute5": {},
          "FreightAmount": {},
          "NumAttribute1": {},
          "Quantity": {
            "type": "string"
          },
          "CustomerPrice": {},
          "UOM": {},
          "UnitPrice": {},
          "ProductDescription": {},
          "SKU": {
            "type": "string"
          },
          "TotalLogisticCharge": {}
        }
      },
      "OrderHLOnlineOrderingts3SubmitOrder_OrderHeaders_HeaderTaxBreakup": {
        "type": "object",
        "properties": {
          "TaxName": {},
          "TaxValue": {},
          "TaxRate": {},
          "@nil": {
            "type": "string"
          }
        }
      },
      "OrderHLOnlineOrderingts3GetPriceDetails_OrderPriceHeader": {
        "type": "object",
        "properties": {
          "PriceDate": {
            "type": "string"
          },
          "Warehouse": {
            "type": "string"
          },
          "ProcessingLocation": {
            "type": "string"
          },
          "FreightCode": {
            "type": "string"
          },
          "ManualFreight": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "ExternalOrderNumber": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "PostalCode": {
            "type": "string"
          },
          "InvoicetoCode": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "County": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "CurrencyCode": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "OrderType": {
            "type": "string"
          },
          "IsFreightCodeOverride": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "OrderMonth": {
            "type": "string"
          },
          "Address4": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "OrderTypeId": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "BadAddressFlag": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "CustomerName": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "AssigmentType": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "CountryCode": {
            "type": "string"
          },
          "DistributorId": {
            "type": "string"
          },
          "PriceListHeaderId": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "Address2": {
            "type": "string"
          },
          "Address3": {
            "type": "string"
          },
          "ShipFromOrgId": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "IsHAPOrder": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "UseSlidingScale": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "Address1": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "Province": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "OrderDate": {
            "type": "string"
          },
          "ContributorClass": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "SalesChannelCode": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "OrderSubType": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "State": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "QSId": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "OrderSource": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "OrderCategory": {
            "type": "string"
          },
          "SPId": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          }
        }
      },
      "OrderHLOnlineOrderingts3GetSkuAvailability_Sku": {
        "type": "object",
        "properties": {
          "SkuName": {
            "type": "string"
          },
          "Quantity": {
            "type": "string"
          },
          "WarehouseCode": {
            "type": "string"
          }
        }
      },
      "body": {
        "type": "object",
        "properties": {
          "DistributorId": {
            "type": "string"
          },
          "ToMonth": {
            "type": "string"
          },
          "FromMonth": {
            "type": "string"
          },
          "ServiceConsumer": {
            "type": "string"
          },
          "IncludeORgVolumes": {
            "type": "string"
          }
        }
      },
      "OrderHLOnlineOrderingts3SubmitOrder_LinesTaxBreakup": {
        "type": "object",
        "properties": {
          "TaxName": {},
          "TaxValue": {},
          "TaxRate": {}
        }
      },
      "OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode": {
        "type": "object",
        "properties": {
          "@nil": {
            "type": "string"
          }
        }
      },
      "body_3": {
        "type": "object",
        "properties": {
          "PostalCode": {
            "type": "string"
          },
          "ExpressDeliveryFlag": {
            "type": "string"
          },
          "ServiceConsumer": {
            "type": "string"
          }
        }
      },
      "OrderHLOnlineOrderingts3SubmitOrder_OrderPromotionLine": {
        "type": "object",
        "properties": {
          "DateAttribute5": {},
          "DateAttribute4": {},
          "RedemptionType": {},
          "DateAttribute3": {},
          "DateAttribute2": {},
          "ChrAttribute8": {},
          "DateAttribute1": {},
          "ChrAttribute7": {},
          "ChrAttribute9": {},
          "ChrAttribute4": {},
          "ChrAttribute3": {},
          "ChrAttribute6": {},
          "ChrAttribute5": {},
          "PromotionItem": {},
          "DateAttribute9": {},
          "DateAttribute8": {},
          "ChrAttribute2": {},
          "DateAttribute7": {},
          "@nil": {
            "type": "string"
          },
          "ChrAttribute1": {},
          "DateAttribute6": {},
          "NumAttribute6": {},
          "NumAttribute7": {},
          "RuleName": {},
          "NumAttribute8": {},
          "NumAttribute9": {},
          "NumAttribute2": {},
          "NumAttribute3": {},
          "NumAttribute4": {},
          "NumAttribute5": {},
          "RuleID": {},
          "PromotionCode": {},
          "NumAttribute1": {},
          "Quantity": {},
          "IsAddedToOrder": {},
          "DateAttribute10": {},
          "SKU": {},
          "NumAttribute10": {},
          "ChrAttribute10": {}
        }
      },
      "body_4": {
        "type": "object",
        "properties": {
          "OrderLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderHLOnlineOrderingts3SubmitOrder_OrderLine"
            }
          },
          "OrderNotes": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3SubmitOrder_OrderNotes"
          },
          "OrderHeaders": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3SubmitOrder_OrderHeaders"
          },
          "OrderAddress": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3SubmitOrder_OrderAddress"
          },
          "OrderPayment": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3SubmitOrder_OrderPayment"
          },
          "OrderPromotionLine": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3SubmitOrder_OrderPromotionLine"
          },
          "ServiceConsumer": {
            "type": "string"
          }
        }
      },
      "body_1": {
        "type": "object",
        "properties": {
          "ZipCode": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "Country": {
            "type": "string"
          },
          "Region": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "City": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "PostamatType": {
            "type": "string"
          }
        }
      },
      "body_2": {
        "type": "object",
        "properties": {
          "SkuInquiryDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetSkuAvailability_SkuInquiryDetails"
            }
          },
          "ServiceConsumer": {
            "type": "string"
          }
        }
      },
      "OrderHLOnlineOrderingts3GetPriceDetails_OrderPriceLines": {
        "type": "object",
        "properties": {
          "CurrencyCode": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "PriceDate": {
            "type": "string"
          },
          "UOM": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "ProcessingLocation": {
            "type": "string"
          },
          "PriceListHeaderId": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "ExternalOrderNumber": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "OrderedQtyUOM": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "SellingSKU": {
            "type": "string"
          },
          "InventoryItemId": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "ProductType": {
            "type": "string"
          },
          "OrderedQty": {
            "type": "string"
          },
          "LineNumber": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          }
        }
      },
      "body_12": {
        "type": "object",
        "properties": {
          "OrderPriceHeader": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetPriceDetails_OrderPriceHeader"
          },
          "OrderPriceLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetPriceDetails_OrderPriceLines"
            }
          },
          "ServiceConsumer": {
            "type": "string"
          }
        }
      },
      "body_13": {
        "type": "object",
        "properties": {
          "DistributorID": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string"
          },
          "ServiceConsumer": {
            "type": "string"
          }
        }
      },
      "OrderHLOnlineOrderingts3SubmitOrder_OrderPayment_CreditCard": {
        "type": "object",
        "properties": {
          "CardNumber": {
            "type": "string"
          },
          "CardValidationType": {
            "type": "string"
          },
          "TrxApprovalNumber": {
            "type": "string"
          },
          "CardType": {
            "type": "string"
          },
          "CardHolderRelation": {
            "type": "string"
          },
          "CardExpiryDate": {
            "type": "string"
          },
          "CardTypeDescription": {},
          "CardHolderName": {
            "type": "string"
          }
        }
      },
      "body_9": {
        "type": "object",
        "properties": {
          "DistributorId": {
            "type": "string"
          },
          "Address": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3UpdateDsAddressContacts_Address"
          },
          "contact": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3UpdateDsAddressContacts_contact"
          },
          "ServiceConsumer": {
            "type": "string"
          }
        }
      },
      "body_10": {
        "type": "object",
        "properties": {
          "OrderType": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string"
          }
        }
      },
      "body_11": {
        "type": "object",
        "properties": {
          "OrderType": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string"
          }
        }
      },
      "body_7": {
        "type": "object",
        "properties": {
          "X-HLAPPID": {
            "type": "string"
          },
          "AccessToken": {
            "type": "string"
          }
        }
      },
      "body_8": {
        "type": "object",
        "properties": {
          "DistributorId": {
            "type": "string"
          },
          "ShipToCountry": {
            "type": "string"
          },
          "OrderPurpose": {
            "type": "string"
          },
          "OrderMonth": {
            "type": "string"
          },
          "VolumePoints": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "IDType": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetDSPostamatDetails_ZipCode"
          },
          "ServiceConsumer": {
            "type": "string"
          }
        }
      },
      "body_5": {
        "type": "object",
        "properties": {
          "PaymentRequest": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3HPSPaymentGateway_PaymentRequest"
          },
          "ServiceConsumer": {
            "type": "string"
          }
        }
      },
      "OrderHLOnlineOrderingts3UpdateDsAddressContacts_Address": {
        "type": "object",
        "properties": {
          "Building": {},
          "CareOfName": {},
          "SiteId": {},
          "Attribute9": {},
          "Attribute8": {},
          "Attribute7": {},
          "Attribute6": {},
          "IsActive": {},
          "Attribute5": {},
          "Attribute4": {},
          "Attribute3": {},
          "Attribute2": {},
          "Attribute1": {},
          "County": {},
          "Reason": {},
          "ZipPlusFour": {},
          "geo_code": {},
          "FedexLocation": {},
          "ZipCode": {
            "type": "string"
          },
          "Attribute10": {},
          "City": {
            "type": "string"
          },
          "Province": {},
          "AddressLine3": {},
          "AddressLine2": {},
          "AddressLine1": {
            "type": "string"
          },
          "State": {},
          "AddressLine4": {},
          "IsPrimary": {},
          "suburb": {},
          "Country": {
            "type": "string"
          },
          "AddressType": {
            "type": "string"
          },
          "LastUpdateDate": {}
        }
      },
      "body_6": {
        "type": "object",
        "properties": {
          "DistributorId": {
            "type": "string"
          },
          "ShipToCountry": {
            "type": "string"
          },
          "PaymentMethod": {
            "type": "string"
          },
          "ServiceConsumer": {
            "type": "string"
          }
        }
      },
      "OrderHLOnlineOrderingts3HPSPaymentGateway_PaymentRequest": {
        "type": "object",
        "properties": {
          "Operator": {
            "type": "string"
          },
          "DistributorId": {
            "type": "string"
          },
          "ExpiryDate": {
            "type": "string"
          },
          "ProcessingLocation": {
            "type": "string"
          },
          "ClientRefNum": {
            "type": "string"
          },
          "Amount": {
            "type": "string"
          },
          "PostalCode": {
            "type": "string"
          },
          "OrderNumber": {
            "type": "string"
          },
          "Transactionclass": {},
          "Address1": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "CardHolderName": {
            "type": "string"
          },
          "CVV2": {
            "type": "string"
          },
          "PayeeID": {},
          "ApplicationSource": {
            "type": "string"
          },
          "OrderType": {
            "type": "string"
          },
          "PayCode": {
            "type": "string"
          },
          "Currency": {
            "type": "string"
          },
          "Country": {
            "type": "string"
          },
          "PaymentType": {
            "type": "string"
          },
          "CreditCardNum": {
            "type": "string"
          }
        }
      },
      "OrderHLOnlineOrderingts3SubmitOrder_OrderNotes": {
        "type": "object",
        "properties": {
          "NumAttribute2": {},
          "DateAttribute5": {},
          "NumAttribute3": {},
          "DateAttribute4": {},
          "NumAttribute4": {},
          "DateAttribute3": {},
          "NumAttribute5": {},
          "DateAttribute2": {},
          "ChrAttribute8": {},
          "DateAttribute1": {},
          "ChrAttribute7": {},
          "ExternalOrderNumber": {},
          "ChrAttribute9": {},
          "NumAttribute1": {},
          "ChrAttribute4": {},
          "ChrAttribute3": {},
          "ChrAttribute6": {},
          "ChrAttribute5": {},
          "ChrAttribute2": {},
          "NoteCode": {},
          "ChrAttribute1": {},
          "NoteMessage": {},
          "ChrAttribute10": {}
        }
      },
      "body_14": {
        "type": "object",
        "properties": {
          "ShipToCountry": {
            "type": "string"
          }
        }
      },
      "body_15": {
        "type": "object",
        "properties": {
          "DistributorId": {
            "type": "string"
          },
          "ServiceConsumer": {
            "type": "string"
          }
        }
      },
      "OrderHLOnlineOrderingts3SubmitOrder_OrderAddress": {
        "type": "object",
        "properties": {
          "CsPhoneNumber": {},
          "ExternalOrderNumber": {},
          "PostalCode": {},
          "County": {},
          "IDType": {},
          "@nil": {
            "type": "string"
          },
          "Address4": {},
          "BadAddressFlag": {},
          "ZipplusFour": {},
          "ValidCsAddressFlag": {},
          "CustomerName": {},
          "CsEmailValidFlag": {},
          "CountryCode": {},
          "AddressUid": {},
          "CsFirstName": {},
          "CsPhoneAreaCode": {},
          "CsLastName": {},
          "ForeignAddressflag": {},
          "CsEMail": {},
          "CsPhoneValidFlag": {},
          "Address2": {},
          "Address3": {},
          "CsEmailUid": {},
          "Address1": {},
          "City": {},
          "CsPhoneUid": {},
          "State": {},
          "AddressType": {}
        }
      },
      "OrderHLOnlineOrderingts3UpdateDsAddressContacts_contact": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string"
          },
          "SubType": {
            "type": "string"
          },
          "OldValue": {
            "type": "string"
          },
          "IsActive": {
            "type": "string"
          },
          "Attribute5": {},
          "Attribute4": {},
          "Value": {
            "type": "string"
          },
          "IsPrimary": {
            "type": "string"
          },
          "Attribute3": {},
          "Attribute2": {},
          "Attribute1": {},
          "LastUpdateDate": {}
        }
      },
      "OrderHLOnlineOrderingts3SubmitOrder_OrderHeaders": {
        "type": "object",
        "properties": {
          "TotalDue": {
            "type": "string"
          },
          "AppsRespId": {},
          "CustomerTax": {},
          "ReceiptSource": {},
          "ShippingInstructions": {
            "type": "string"
          },
          "DsLastName": {},
          "StatusFlag": {},
          "PickupName": {},
          "LogisticsCharges": {},
          "TaxAmount": {
            "type": "string"
          },
          "HoldName": {},
          "OrderMonth": {
            "type": "string"
          },
          "FreightCharges": {},
          "CampaignNumber": {},
          "WaldoStore": {},
          "PartySiteId": {},
          "CurrentSubType": {},
          "FQSId": {},
          "BusinessName": {},
          "DropShipFlag": {},
          "ValidCsPhoneFlag": {},
          "CustomerId": {},
          "UseSlidingScale": {},
          "DiscountAmount": {
            "type": "string"
          },
          "ShippingMethodCode": {
            "type": "string"
          },
          "SalesChannelCode": {
            "type": "string"
          },
          "PricingDate": {
            "type": "string"
          },
          "PriceListId": {},
          "TotalVolume": {
            "type": "string"
          },
          "PHTaxAmount": {},
          "OtherType": {},
          "SponserId": {},
          "OrderConfirmEmail": {
            "type": "string"
          },
          "OrderTypeCode": {
            "type": "string"
          },
          "CustFaceDSEmail": {},
          "CSTotalPaidAmount": {},
          "FreightCarrierCode": {},
          "ForeignAddressFlag": {},
          "ShipmentPriorityCode": {},
          "OrderShippingCharges": {},
          "FreightTaxAmount": {},
          "TinNumber": {},
          "CancelledFlag": {},
          "NumAttribute6": {},
          "CsDiscountAmount": {},
          "NumAttribute7": {},
          "CsDsSubType": {},
          "NumAttribute8": {},
          "NumAttribute9": {},
          "NumAttribute2": {},
          "NumAttribute3": {},
          "NumAttribute4": {},
          "ValidCsEmailFlag": {},
          "NumAttribute5": {},
          "NumAttribute1": {},
          "WillCallFlag": {
            "type": "string"
          },
          "AppsUserId": {},
          "CsDsPhoneNumber": {},
          "OrgId": {
            "type": "string"
          },
		  "OrderTypeId": {
            "type": "string"
          },
          "HoldId": {},
          "CustomerOrderNumber": {},
          "Temp50Flag": {},
          "CurrentType": {},
          "CsDsId": {},
          "DsFirstName": {},
          "WalkInOrderFlag": {},
          "AssignmentType": {},
          "CombinedOrderVolume": {},
          "ContactReference": {},
          "DSName": {},
          "DsPhoneAreaCode": {},
          "NumAttribute10": {},
          "DSPhone": {},
          "ReceiptDate": {},
          "BookedFlag": {},
          "Locale": {},
          "FreightOverRideFlag": {},
          "CountryOfMailing": {},
          "DSEmail": {},
          "ProcessingLocation": {
            "type": "string"
          },
          "AmountPaid": {},
          "PBId": {},
          "ProfitFlag": {},
          "SMSRole": {},
          "CsDsPhoneAreaCode": {},
          "CustFaceDSFname": {},
          "ProfitAmount": {},
          "ValidCsAddressFlag": {},
          "CustomerSubTotal": {},
          "CustFaceDSPhone": {},
          "CsPhoneAreaCode": {},
          "ReceiptNumber": {},
          "ChrAttribute15": {},
          "DistributorId": {
            "type": "string"
          },
          "ChrAttribute14": {},
          "CsDiscountPercent": {},
          "DualOrderNumber": {},
          "ChrAttribute13": {},
          "ChrAttribute12": {},
          "OrderPurpose": {},
          "DistributorLocationId": {},
          "OrderImportMode": {},
          "ReferenceNumber": {},
          "CustomerShipping": {},
          "City": {
            "type": "string"
          },
          "CsDsValidatedFlag": {},
          "Province": {},
          "CustomerTotalDue": {},
          "SMSNumber": {
            "type": "string"
          },
          "SlidingDiscount": {
            "type": "string"
          },
          "State": {},
          "PaymentMethod": {},
          "OrderSource": {
            "type": "string"
          },
          "ChrAttribute11": {},
          "TotalAmountPaid": {
            "type": "string"
          },
          "Balance": {
            "type": "string"
          },
          "ChrAttribute10": {},
          "TotalRetailPrice": {
            "type": "string"
          },
          "WareHouseCode": {
            "type": "string"
          },
          "DateAttribute5": {},
          "DateAttribute4": {},
          "DateAttribute3": {},
          "PrimaryFlag": {},
          "CustFaceDSLname": {},
          "DateAttribute2": {},
          "IsHapFlag": {},
          "ChrAttribute8": {},
          "DateAttribute1": {},
          "ChrAttribute7": {},
          "ExternalOrderNumber": {},
          "ChrAttribute9": {},
          "ChrAttribute4": {},
          "BaseTotalOnlinePrice": {},
          "PostalCode": {
            "type": "string"
          },
          "ChrAttribute3": {
            "type": "string"
          },
          "ChrAttribute6": {
            "type": "string"
          },
          "ChrAttribute5": {},
          "County": {},
          "ChrAttribute2": {},
          "ReceiptChannel": {},
          "HeaderTaxBreakup": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderHLOnlineOrderingts3SubmitOrder_OrderHeaders_HeaderTaxBreakup"
            }
          },
          "ChrAttribute1": {},
          "PaymentMethodDescription": {},
          "OrderPaymentStatus": {
            "type": "string"
          },
          "Address4": {},
          "Phone": {},
          "BadAddressFlag": {},
          "PHCharges": {},
          "CustomerName": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string"
          },
          "Notes": {},
          "TinCode": {},
          "DiscountRetailPrice": {},
          "CombinedOrderQty": {},
          "Address2": {
            "type": "string"
          },
          "Address3": {
            "type": "string"
          },
          "CsDsEmail": {},
          "InvShipFlag": {
            "type": "string"
          },
          "Address1": {
            "type": "string"
          },
          "SMSAction": {},
          "OtherSubType": {},
          "CsDsFirstName": {},
          "OrderDate": {
            "type": "string"
          },
          "PersonalInstructions": {},
          "ContributorClass": {},
          "OrderSubType": {},
          "TaxBreakupId": {},
          "CsDsLastName": {},
          "CsDsType": {},
          "OrderDiscount": {
            "type": "string"
          },
          "OrderFreightCharges": {},
          "QSId": {},
          "OtherCharges": {},
          "CustAccountId": {}
        }
      },
      "OrderHLOnlineOrderingts3SubmitOrder_OrderPayment": {
        "type": "object",
        "properties": {
          "PaymentMethodId": {},
          "ClientRefNumber": {
            "type": "string"
          },
          "VoidFlag": {
            "type": "string"
          },
          "PaymentAmount": {
            "type": "string"
          },
          "StatusFlag": {},
          "Name": {},
          "CurrencyCode": {
            "type": "string"
          },
          "Remarks": {},
          "TransactionCode": {},
          "PaymentOption": {},
          "EconComm": {},
          "PaymentStatus": {
            "type": "string"
          },
          "AppliedDate": {
            "type": "string"
          },
          "EconAmount": {},
          "PaymentDate": {
            "type": "string"
          },
          "Paycode": {
            "type": "string"
          },
          "PayeeId": {},
          "BankAccountId": {},
          "AuthorizationType": {
            "type": "string"
          },
          "ChrAttribute10": {},
          "BankAccountNumber": {},
          "SponserId": {},
          "EconInfo": {},
          "DateAttribute5": {},
          "DateAttribute4": {},
          "DateAttribute3": {},
          "DateAttribute2": {},
          "ChrAttribute8": {},
          "DateAttribute1": {},
          "ChrAttribute7": {},
          "ExternalOrderNumber": {},
          "ChrAttribute9": {},
          "ChrAttribute4": {},
          "ChrAttribute3": {},
          "ApprovalNumber": {
            "type": "string"
          },
          "APFPaidFlag": {},
          "SecondBonus": {},
          "ChrAttribute6": {},
          "PostAuthCode": {},
          "ChrAttribute5": {},
          "FirstBonus": {},
          "ChrAttribute2": {},
          "PaymentMethodName": {
            "type": "string"
          },
          "ChrAttribute1": {},
          "CheckWireNumber": {},
          "PaymentType": {
            "type": "string"
          },
          "NumAttribute2": {},
          "Installments": {},
          "NumAttribute3": {},
          "NumAttribute4": {},
          "NumAttribute5": {},
          "NumAttribute1": {},
          "EconStatus": {},
          "BeginMonth": {},
          "CreditCard": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3SubmitOrder_OrderPayment_CreditCard"
          },
          "TransactionTime": {},
          "ConversionRate": {},
          "DocSeqNumber": {},
          "PaymentReceived": {
            "type": "string"
          }
        }
      },
      "OrderHLOnlineOrderingts3GetSkuAvailability_SkuInquiryDetails": {
        "type": "object",
        "properties": {
          "Sku": {
            "$ref": "#/components/schemas/OrderHLOnlineOrderingts3GetSkuAvailability_Sku"
          }
        }
      }
    },
    "securitySchemes": {
      "basic": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}